<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd>
  <%= @the_user.private %>
  <%#
  <% if @the_user.private %>
  <%#    <dd>
          Yes
      </dd>
      <% else %>
  <%#    <dd>
          No
      </dd>
      <% end %>
  </dd>

  <dt>Followers</dt>
  <dd>
    <%= @the_user.inbox.where({ :status => "accepted" }).count %>

    </div>

      <h4>Pending follow requests</h4>

      <ul>
      <% @the_user.inbox.where({ :status => "pending" }).each do |pending| %>
          <li>
            <%= pending.follower.username %>

            <form action="/modify_follow_request/<%= pending.id %>" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>

            <form action="/modify_follow_request/<%= pending.id %>" method="post">
              <input name="query_status" value="rejected" type="hidden">
            
              <button>
                Reject
              </button>
            </form>
          </li>
          <% end %>
      </ul>
  </dd>

  <dt>Following</dt>
  <dd>
    <%= @the_user.sent.where({ :status => "accepted" }).count %>
  </dd>
<% if @the_user.id == session.fetch(:user_id) %>
  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user/<%= session.fetch(:user_id) %>" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="private_user">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private"  checked>

      <button>Update user</button>
    </form>
  </dd>
<% end %>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Feed (<%= @the_user.feed.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>
<% @the_user.feed.each do |pic| %>
  <tr>
    <td>
      <img src= <%= pic.picture %>>
    </td>

    <td>
      <%= pic.user.username %>
    </td>

    <td>
      <%= pic.caption %>
    </td>

    <td>
      <%= time_ago_in_words(pic.created_at) %> ago
    </td>

    <td>
      <%= pic.likes.count %>
    </td>

    <td>
      <a href="/photos/<%= pic.id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
</table>